html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: blue;
}
#header {
  width: 80%;
  background-color: #7a7aa7;
  border: 3px solid #acacac;
  border-radius: 10px;
  color: #dbe2e4;
  position: fixed;
  top: 0;
}

nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  padding: 10px;
}
nav ul li a {
  color: #c6d8dd;
  text-decoration: none;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
main {
  width: 960px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
}
section {
  margin-top: 100px;
  padding: 80px;
  padding-bottom: 50px;
}

.center {
  width: 80%;
  background-color: #565770;
  border: 3px solid #acacac;
  border-radius: 10px;
  color: #48badd;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}
